# Final Activity 1

Voughtazon Inc. used to have different stalls which sell action figures of their Top 10 most
popular superhero franchises. Before reopening these stalls, the company would like to analyze
the previous total sales of their products and develop a time series forecast model. The
productsales.csv dataset contains time series data covering the years 2010-2019. The columns
include stall id [0-6, there are 7 stalls in different locations], product type [0-9, there are 10
characters/types of the action figures], date [yyyy-mm-dd], and number sold [number of action
figures sold].

In [1]:
# Import dataset
import pandas as pd

sales = pd.read_csv("data/productsales.csv")
sales

        stall_id  product_type        date  number_sold
0              0             0  2010-01-01          801
1              0             0  2010-01-02          810
2              0             0  2010-01-03          818
3              0             0  2010-01-04          796
4              0             0  2010-01-05          808
...          ...           ...         ...          ...
255635         6             9  2019-12-27          901
255636         6             9  2019-12-28          926
255637         6             9  2019-12-29          913
255638         6             9  2019-12-30          899
255639         6             9  2019-12-31          886

[255640 rows x 4 columns]